body {
    background: linear-gradient(-45deg, #3cc247, #94a08b, #94a08b, #e6e1e3);
    background-size: 100% 100%;
    animation: gradient 14s ease infinite;
    height: 100 vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 100%;
    }
    50% {
      background-position: 0% 100%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  body :nth-child(1) {
    color: rgb(3, 3, 3);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

